In [27]:
#initial imports
import pandas as pd
from pathlib import Path

In [28]:
#set the file path
file_path = Path("../Resources/A2M.csv")

#Create a Panda dataframe from a csv file
A2M = pd.read_csv(file_path)

#display the rows
A2M.head()

,Code,Company,Date,Type,Quantity,Unit Price ($),Trade Value ($),Brokerage+GST ($),GST ($),Total Value ($)
0,A2M,THE A2 MILK COMPANY FPO NZ (ORDINARY FULLY PAID),28/9/20,Buy,500,15.4900,7745.00,19.95,1.81,7764.95
1,A2M,THE A2 MILK COMPANY FPO NZ (ORDINARY FULLY PAID),30/9/20,Buy,400,14.2450,5698.00,19.95,1.81,5717.95
2,A2M,THE A2 MILK COMPANY FPO NZ (ORDINARY FULLY PAID),17/11/20,Sell,-900,14.7412,-13267.04,29.95,2.72,-13237.09

In [29]:
# confirm data type for date
A2M['Date'].dtype

dtype('O')

In [30]:
#Calculate total quantity and total value
A2M.sum (axis = None)

Code                                                         A2MA2MA2M
Company              THE A2 MILK COMPANY FPO NZ (ORDINARY FULLY PAI...
Date                                            28/9/2030/9/2017/11/20
Type                                                        BuyBuySell
Quantity                                                             0
Unit Price ($)                                                 44.4762
Trade Value ($)                                                 175.96
Brokerage+GST ($)                                                69.85
GST ($)                                                           6.34
Total Value ($)                                                 245.81
dtype: object

In [22]:
# verify if this share can use Discount Captital Gain method, time between Sell and last buy is less than 12 months.
from datetime import date
x = date (2020,11,17)
y = date (2020,9,30)
z = x - y
print (z.days)

48

In [ ]:
# calculate capital gain using Indexation method, given the original buy date is after 21 Sep 1999, no need to go further

In [26]:
# calculate capital gain using Other method
column_name = "Total Value ($)"
column_sum = A2M[column_name].sum()
print (column_sum)

245.8099999999995