In [26]:
#initial imports
import pandas as pd
from pathlib import Path

In [27]:
#set the file path
file_path = Path("../Resources/WBT_CL.csv")

#Create a Panda dataframe from a csv file
WBT_CL = pd.read_csv(file_path)

#display the rows
WBT_CL.head()

,Code,Company,Date,Type,Quantity,Unit Price ($),Trade Value ($),Brokerage+GST ($),GST ($),Total Value ($)
0,WBT,WEEBIT NANO LTD FPO (ORDINARY FULLY PAID),19/1/21,Buy,1000,3.65,3650,19.95,1.81,3669.95
1,WBT,WEEBIT NANO LTD FPO (ORDINARY FULLY PAID),21/1/21,Sell,-1000,4.11,-4110,19.95,1.81,-4090.05

In [24]:
#Calculate total quantity and total value
WBT_CL.sum (axis = None)

Code                                                            WBTWBT
Company              WEEBIT NANO LTD FPO (ORDINARY FULLY PAID)WEEBI...
Date                                                    19/1/2121/1/21
Type                                                           BuySell
Quantity                                                             0
Unit Price ($)                                                    7.76
Trade Value ($)                                                   -460
Brokerage+GST ($)                                                 39.9
GST ($)                                                           3.62
Total Value ($)                                                 -420.1
dtype: object

In [28]:
#given Total Value ($) is less than $0, a capital loss incurred.
column_name = "Total Value ($)"
column_sum = WBT_CL[column_name].sum()
print (column_sum)

-420.10000000000036